@import url(https://https://fonts.google.com/specimen/Lora.google.com/specimen/Playfair+Display/license);
*{
    background-color: #d3bbf3;
    margin: 0; 
    padding: 0;
    box-sizing : border-box;
    font-family: 'Lora', 'Times New Roman';
}

.navbar, .find{
    background-color: #100e4d;

    display: flex;
    
    top: 0 50px 50px 0;
    position: sticky;
    justify-content: center;
    
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lora', 'Times New Roman';
}
.navbar a, .find a, .checkout a, .catalogEdit a{
    background-color: #100e4d;

    float:left;
    padding: 14px;

    color: #fff;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover, .find a:hover, .checkout a:hover, .catalogEdit a:hover{
    background-color: #ac8cd6;
    color: #100e4d; 
}
.navbar a.active, .find a.active, .checkout a.active{
    cursor: pointer;
}


.checkout, .catalogEdit {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.add{
    display: flex;
    justify-content: center;
    margin: auto auto auto 10px;
}

.rem{
    display: flex;
    justify-content: center;
    margin: auto auto auto 10px;
}

.logout {
    background-color: #100e4d;

    margin-left: auto;

    color:#fff;
    text-decoration: none;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 30px;
}

.searchbar {
    display: flex;

    height: 40px;
    justify-content: center;

    text-align: center;
}
.searchbar input[type=text]{
    background-color: #ffffff;

    width: 750px;
    justify-content: center;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Lora', 'Times New Roman';
}

.bookbox{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Lora', 'Times New Roman';
    border-radius: 15px; 
}

th{
    background-color:#1c1c25;
    color:#fff;
    padding: 15px;
    border: 5px solid #8d8d93;
}
table,td{
    background-color:#fff;
    padding: 15px;
    border: 5px solid #1c1c25;
    border-collapse: collapse;
    margin: 10px;
}
.reader-info{
    background-color: #100e4d;
    justify-content: center;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Lora', 'Times New Roman';
    text-align: center;
}
