
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cstyle.css">
    <title>Reader Profile</title>
</head>
<body>
    <div class="navbar">
        <a href="#">Home</a>
        <a href="#">Profile</a>
        <a href="#">Search Books</a>
        <a class="logout" href="#">Logout</a>
    </div>
    
    <div class="title">
        <h1>Profile</h1>
    </div>

    <div class="reader-info">
        <h2>Reader Information</h2>
        <p><strong>UserID:</strong> ex: userId </p>
        <p><strong>Member Since:</strong> ex: August 2024</p>
        <p><strong>Member Since:</strong> ex: August 2024</p>
        <p><strong>Books Checked out:</strong> ex: 5</p>
    </div>

    <div class="bookbox">
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Date Checked Out</th>
                <th>Date Due</th>
            </tr>
            <tr> 
                <td>Harry Potter and The Goblet of Fire</td>
                <td>J.K. Rowling</td>
                <td>1234</td>
                <td>12-02-2025</td>
                <td>12-16-2025</td>
                
            </tr>
        </table>
    </div>

</body>
</html>

